<% provide(:title, "About") %>

<div class="center">
	<!-- <h1>About</h1> -->
	<h3>Preconfigured users</h3>

	<div class="row">
	  	<div class="col-md-6 col-md-offset-3">
			<table class="table">
				<thead>
					<tr>
						<td> <h4>Username</h4> </td>
						<td> <h4>Password</h4> </td>
						<td><h4>Notes</h4></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> admin@sp.com </td>
						<td> password </td>
						<td> Super admin</td>
					</tr>
					<tr>
						<td> admin_@sp.com </td>
						<td> password </td>
						<td> Replace _ with a number. Range 1 to 5 </td>
					</tr>
					<tr>
						<td> ins_@sp.com </td>
						<td> password </td>
						<td> Replace _ with a number. Range 1 to 30 </td>
					</tr>
					<tr>
						<td> stu_@sp.com </td>
						<td> password </td>
						<td>Replace _ with a number. Range 1 to 300 </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div style="text-align: left;">
	Some of the <b>username/password</b> combo <b>might not work</b>, since reviewers might have changed them while testing <br/>
	<b>Profile viewing/editing</b>: Every logged in user has the ability to change his/her profile information. Upon login, their profile is displayed, under which there is an option to edit their profile<br/>
	<b>Admin - View all courses</b>: Under the 'Actions' dropdown, select 'Course Catalogue'<br/>
	<b>Admin - View a course details</b>: When in the 'Course Catalogue', click on the 'show' option against a course to view its details<br/>
	<b>Admin - Delete a course</b>: When in the 'Course Catalogue', click on the 'destroy' option. However, if the course has students enrolled in it, then the deletion is not performed.<br/>
	<b>Admin - View all users</b>: Under the 'Actions' dropdown, select 'User List'. On the resulting page, the user has an option to filter out the user based on their user type, by clicking on the hyperlinks on the top of the page.<br/>
	<b>Admin - View user history</b>: Click on 'View history' to see the corresponding user's history.<br/>
	<b>Admin - View a user's profile</b>: When viewing all the users, click on the name of the user whose profile you wish to view. <br/>
	<b>Admin - Delete a user's profile</b>: When in a user's profile, click on the Delete User option below their profile. However, if the user happens to be an instructor who is currently taking a course, then the deletion will not be permitted.<br/>
	<b>Admin - Create an admin</b>: Under the 'Actions' dropdown, select 'Add an admin' option.<br/>
	<b>Admin - Create an instructor</b>: Under the 'Actions' dropdown, select 'Add an instructor' option.<br/>
	<b>Admin - Create a course</b>: Under the 'Actions' dropdown, select 'Add a course' option.<br/>

	<b>Instructor - View courses</b>: Under the 'Actions' dropdown, select 'My courses' option. This will show the list of courses that the instructor is taking or took in the past.<br/>
	<b>Instructor - Make an announcement</b>:Under the 'Actions' dropdown, select 'New announcement' option. The corresponding course for the announcement should be selected.<br/>
	<b>Instructor - Enroll a student</b>: When viewing the instructors <i>My courses</i>, click on the 'show' option of a course. In the course page, there are options to show the list of students with pending enrollments and already enrolled students. Click on the pending list and select the students that need to be enrolled. There is an option to reject students as well. The same option exists for an Admin as well<br/>
	<b>Instuctor - Post a grade</b>: Same as above, but instead of pending list, select the list of enrolled students. This will provide a list of students in the course. Click on the 'show' option against a student. You will see an option to post a grade.<br/>
	<b>Instuctor - Drop a student</b>: In the above case, you will also see an option to drop a student.<br/>

	<b>Student - View course</b>: Under 'Actions', click on 'Course Catalogue'. This will provide a list of courses.<br/>
	<b>Student - Course details</b>: When in 'Course Catalogue', select the 'show' option against the course. This will lead to the course details page.<br/>
	<b>Student - Request enrollemnt</b>: In the above page, click on 'Enroll me'. This send a request to the instructor to enrol the student.<br/>
	<b>Student - Course history</b>: Under 'Actions', click "My courses". This will provide a list of enrolled, pending and completed courses. It can be filtered by clicking on the filter options above.<br/>
	<b>Student - Drop a course</b>: In the course above list, click on 'view' to see the student's course page. Click on the drop course option to drop the course.
	<div>
</div>
