<% provide(:title, "Contact Us") %>

<div class="center">
	<h1>Contact Us</h1>
	<br/>
	<div class="row">
	  	<div class="col-md-6 col-md-offset-3">
			<table class="table">
				<!-- <thead>
					<tr>
						<td> <h4>Username</h4> </td>
						<td> <h4>Password</h4> </td>
						<td></td>
					</tr>
				</thead> -->
				<tbody>
					<tr>
						<td> Sneha Shah </td>
						<td> smshah4@ncsu.edu </td>
					</tr>
					<tr>
						<td> Tanay Pande </td>
						<td> tpande@ncsu.edu </td>
					</tr>
					<tr>
						<td> Rakesh Kavodkar </td>
						<td> rgopalk@ncsu.edu </td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>	
				</tbody>
			</table>
		</div>
	</div>

</div>
