<div class="center jumbotron">
	<h1>Welcome to the School Portal</h1>
	<br/>
  	<form>
		<div class="form-group">
			<%=  link_to "Sign up now!", signup_path, id: "signup-id", class: "btn btn-lg btn-default" %>
		</div>
  	</form>
</div>

<div class="center">
Go to the <%= link_to "About", about_path %> page for log-in instructions
</div>