<div class="center jumbotron">
	<h1>Welcome to the School Portal</h1>
	<br/>
  	<form>
		<div class="form-group">
			<!-- <label for="signup-id"><h4>New Student?</h4></label> -->
			<%=  link_to "Sign up now!", signup_path, id: "signup-id", class: "btn btn-lg btn-primary" %>
		</div>
  	</form>
</div>