<% provide(:title, 'All announcements') %>

<h3>Viewing all announcements </h3>
<div class="container" style="height:70vh; overflow:auto">
	<table class="table table-hover">
		<thead>
			<th>Course</th>
			<th>Course Title</th>
			<th>Announcement Title</th>
			<th>Content</th>
			<th></th>
		</thead>
		<tbody>
			<% @announcements.each do |announcement| %>
				<tr>
					<td><%= announcement.course_id %></td>
					<td><%= announcement.course.title %></td>
					<td><%= announcement.title %></td>
					<td><%= announcement.content %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>