<% provide(:title, current_user.name + '\'s messages') %>

<div class='row'>
    <div class="col-md-6 col-md-offset-3">
        <h3>My messages </h3>
        <div style="height:70vh; overflow:auto">
            <table class="table table-hover">
                <thead>
                    <th>From</th>
                    <th></th>
                </thead>
                <tbody>
                    <% @conversations.each do |conversation| %>
                        <tr>
                            <% if conversation.sender_id == current_user.id || conversation.receiver_id== current_user.id %>
                                <% if conversation.sender_id == current_user.id %>
                                    <% receiver= User.find(conversation.receiver_id) %>
                                <% else %>
                                    <% receiver = User.find(conversation.sender_id) %>
                                <% end %>
                                <td><%= link_to receiver.name, conversation_messages_path(conversation)%></td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
