<p id="notice"><%= notice %></p>

<h1>Students waiting for approval</h1>

<table class="table">
  <thead>
    <th>Student</th>
    <th>Course</th>
    <th></th>
  </thead>

  <tbody>

   
    <% @student_courses.each do |student_course| %>
    <% if  student_course !=nil %>
      <tr>
        <td><%= student_course.user.name %></td>
        <td><%= student_course.course.title %></td>
        <td><%= check_box_tag "student_course_ids[]", student_course.id %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>




