@import "bootstrap-sprockets";
@import "bootstrap";

/* Overall CSS for the application page*/

body {
	padding: 60px;
	padding-top: 150px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}


/* Header */
/* Courtesy of: https://www.railstutorial.org/book/filling_in_the_layout#code-layout_new_structure */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_desc {
  color: red;
  ul {
  color: red;
  margin: 0 0 30px 0;
  }
}

.error_fields {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}